body{
    /* CSS RESET */
    margin: 0px;
    padding: 0px;
    background: url('images/gym.jpg');
    color: white;
}

.left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 27px;
}

.left div{
    font-size: 15px;
    line-height: 20px;
}
.mid{
    display: block;
    width: 45%;
    margin: 20px auto;
    /* border: 2px solid blue; */
   
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    /* border: 2px solid green; */
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;
    color: grey;
}

.left img{
    width: 81px;
    filter: invert(93%);
}

.btn{
    margin: 0px 9px;
    padding: 4px 14px;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(65, 62, 62);
}

.container{
    /* border: 2px solid white; */
    margin: 51px 836px;
    width: 33%;
    padding: 75px;
    border-radius: 28px;
}

.form-group input{
    text-align: center;
    display: block;
    width: 290px;
    padding: 7px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 8px
}

.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 62%;
    margin: 15px auto;
}